<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>T3Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestDBServlet</display-name>
    <servlet-name>TestDBServlet</servlet-name>
    <servlet-class>com.t3bank.servlets.TestDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDBServlet</servlet-name>
    <url-pattern>/TestDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustControlServlet</display-name>
    <servlet-name>CustControlServlet</servlet-name>
    <servlet-class>com.t3bank.servlets.CustControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustControlServlet</servlet-name>
    <url-pattern>/CustControlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.t3bank.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.t3bank.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpControlServlet</display-name>
    <servlet-name>EmpControlServlet</servlet-name>
    <servlet-class>com.t3bank.servlets.EmpControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpControlServlet</servlet-name>
    <url-pattern>/EmpControlServlet</url-pattern>
  </servlet-mapping>
</web-app>